<!-- ==========================================
     QEDEV Framework
     Modal Component
========================================== -->

<div
  id="qedev-modal"
  class="qedev-modal-overlay hidden"
  role="dialog"
  aria-modal="true"
>
  <div class="qedev-modal qedev-modal-md">
    <!-- Header -->
    <div class="qedev-modal-header">
      <h2 class="qedev-modal-title">Modal Title</h2>

      <button type="button" class="qedev-modal-close" aria-label="Close Modal">
        &times;
      </button>
    </div>

    <!-- Body -->
    <div class="qedev-modal-body">Modal Content</div>

    <!-- Footer -->
    <div class="qedev-modal-footer">Footer</div>
  </div>
</div>
