<!-- ==========================================
     QEDEV Framework
     Confirm Component
========================================== -->

<div
  id="qedev-confirm"
  class="qedev-confirm-overlay hidden"
  role="dialog"
  aria-modal="true"
>
  <div class="qedev-confirm">
    <div class="qedev-confirm-header">
      <h2 class="qedev-confirm-title">Confirmation</h2>
    </div>

    <div class="qedev-confirm-body">Are you sure?</div>

    <div class="qedev-confirm-footer">
      <button class="qedev-confirm-cancel">Cancel</button>

      <button class="qedev-confirm-ok">OK</button>
    </div>
  </div>
</div>
