<!-- ==========================================
     QEDEV Framework
     Header Component
========================================== -->

<header class="qedev-header-container">
  <!-- Brand -->
  <div class="qedev-header-brand">
    <img class="qedev-header-logo" alt="Application Logo" />

    <div class="qedev-header-info">
      <h1 class="qedev-header-title"></h1>

      <p class="qedev-header-school"></p>
    </div>
  </div>

  <!-- Actions -->
  <div class="qedev-header-actions">
    <button
      type="button"
      class="qedev-header-button"
      aria-label="Notifications"
    >
      <i class="fa-regular fa-bell"></i>
    </button>
  </div>
</header>
